In [46]:
# Import Libraries
import pandas as pd 
import numpy as np 
import yfinance as yf
from datetime import datetime, timedelta
import os
from newsapi import NewsApiClient
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from dotenv import load_dotenv, find_dotenv
load_dotenv("newsapi.env")
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from collections import Counter

### Stock Data Pull

In [2]:
# Get S&P500 symbols ranked by market cap 
sp500_by_marketcap = pd.read_csv('SP500_By_MarketCap.csv')
sp500_by_marketcap.head()

,Symbol,Name,Industry,Market Cap
0,AAPL,Apple Inc.,Electronic Technology,"$ 2,986,128,347,290.24"
1,MSFT,Microsoft Corporation,Technology Services,"$ 2,513,296,516,647.36"
2,GOOG,Alphabet Inc.,Technology Services,"$ 1,927,101,773,229.48"
3,GOOGL,Alphabet Inc.,Technology Services,"$ 1,923,705,624,039.54"
4,AMZN,"Amazon.com, Inc.",Retail Trade,"$ 1,728,404,755,739.39"

In [68]:
# Get tickers in a list

tickers = sp500_by_marketcap['Symbol'].head(2).tolist()
print(tickers)

['AAPL', 'MSFT']

In [69]:
# Set timeframe 
delta = 90
end = datetime.now()
start = datetime.now() - timedelta(delta)

In [70]:
# Get stock data from yfinance 
df_stock_data=pd.DataFrame()
for ticker in tickers:
    ticker_df = yf.download(ticker, start=start, end=end,interval="1D")
    ticker_df = ticker_df.reset_index()
    ticker_df["Stock"] = ticker
    # Creating a unique key by combining Ticker and Publish date
    ticker_df["unique_key"] = ticker_df["Stock"]+ticker_df["Date"].astype(str)
    df_stock_data =pd.concat([df_stock_data,ticker_df],axis=0)
df_stock_data = df_stock_data.set_index("unique_key")
df_stock_data.head()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

,Date,Open,High,Low,Close,Adj Close,Volume,Stock
unique_key,,,,,,,,
AAPL2022-01-13,2022-01-13,175.779999,176.619995,171.789993,172.190002,171.970901,84505800,AAPL
AAPL2022-01-14,2022-01-14,171.339996,173.779999,171.089996,173.070007,172.849792,80440800,AAPL
AAPL2022-01-18,2022-01-18,171.509995,172.539993,169.410004,169.800003,169.583939,90956700,AAPL
AAPL2022-01-19,2022-01-19,170.000000,171.080002,165.940002,166.229996,166.018478,94815000,AAPL
AAPL2022-01-20,2022-01-20,166.979996,169.679993,164.179993,164.509995,164.300659,91420500,AAPL

In [71]:
# Create "Returns" column 
returns_df = pd.DataFrame()
returns_df = pd.DataFrame(df_stock_data["Adj Close"].pct_change().shift(-1))
returns_df = returns_df.rename(columns = {"Adj Close": "Returns"})
returns_df

                 Returns
unique_key
AAPL2022-01-13  0.005111
AAPL2022-01-14 -0.018894
AAPL2022-01-18 -0.021025
AAPL2022-01-19 -0.010347
AAPL2022-01-20 -0.012765
...                  ...
MSFT2022-04-06  0.006244
MSFT2022-04-07 -0.014600
MSFT2022-04-08 -0.039432
MSFT2022-04-11 -0.011218
MSFT2022-04-12       NaN

[124 rows x 1 columns]

In [72]:
df_stock_data = pd.concat([df_stock_data,returns_df],join = 'outer',axis = 1)
df_stock_data

,Date,Open,High,Low,Close,Adj Close,Volume,Stock,Returns
unique_key,,,,,,,,,
AAPL2022-01-13,2022-01-13,175.779999,176.619995,171.789993,172.190002,171.970901,84505800,AAPL,0.005111
AAPL2022-01-14,2022-01-14,171.339996,173.779999,171.089996,173.070007,172.849792,80440800,AAPL,-0.018894
AAPL2022-01-18,2022-01-18,171.509995,172.539993,169.410004,169.800003,169.583939,90956700,AAPL,-0.021025
AAPL2022-01-19,2022-01-19,170.000000,171.080002,165.940002,166.229996,166.018478,94815000,AAPL,-0.010347
AAPL2022-01-20,2022-01-20,166.979996,169.679993,164.179993,164.509995,164.300659,91420500,AAPL,-0.012765
...,...,...,...,...,...,...,...,...,...
MSFT2022-04-06,2022-04-06,305.190002,307.000000,296.709991,299.500000,299.500000,40110400,MSFT,0.006244
MSFT2022-04-07,2022-04-07,296.660004,303.649994,296.350006,301.369995,301.369995,31411200,MSFT,-0.014600
MSFT2022-04-08,2022-04-08,300.440002,301.119995,296.279999,296.970001,296.970001,24347400,MSFT,-0.039432
MSFT2022-04-11,2022-04-11,291.790009,292.609985,285.000000,285.260010,285.260010,34569300,MSFT,-0.011218
MSFT2022-04-12,2022-04-12,289.234985,290.739014,280.489990,282.059998,282.059998,30913944,MSFT,NaN

### Sentiment Analysis

In [73]:
# Download/Update the VADER Lexicon
nltk.download('vader_lexicon')

# Initialize the VADER sentiment analyzer
analyzer = SentimentIntensityAnalyzer()

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/rajaabhishek/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [74]:
load_dotenv()
find_dotenv()

'/Users/rajaabhishek/FinTech/NW_Fintech_Project3/.env'

In [75]:
# Reading the News API key enviroment variable
api_key = os.getenv("news_api")
type(api_key)

str

In [76]:
# Create a newsapi client
newsapi = NewsApiClient(api_key=api_key)

In [77]:
news_df = pd.DataFrame(index = pd.RangeIndex(start = 0, stop = 100))

for ticker in tickers:
    ticker_headlines = newsapi.get_everything(q=ticker,
                                              language="en",
                                              page_size=100,
                                              sort_by="relevancy"
                                             )
    ticker_sentiments = []
    
    for article in ticker_headlines["articles"]:
        try:
            text = article["content"]
            date = article["publishedAt"][:10]
            sentiment = analyzer.polarity_scores(text)
            compound = sentiment["compound"]
            pos = sentiment["pos"]
            neu = sentiment["neu"]
            neg = sentiment["neg"]

            ticker_sentiments.append({
                "text": text,
                "Stock" : ticker,
                "date": date,
                "compound": compound,
                "positive": pos,
                "negative": neg,
                "neutral": neu

            })

        except AttributeError:
            pass
# Create DataFrame
    ticker_df = pd.DataFrame(ticker_sentiments)
    
# Reorder DataFrame columns
cols = ["date", "Stock", "text", "compound", "positive", "negative", "neutral"]
ticker_df = ticker_df[cols]
ticker_df.head()

NewsAPIException: {'status': 'error', 'code': 'rateLimited', 'message': 'You have made too many requests recently. Developer accounts are limited to 100 requests over a 24 hour period (50 requests available every 12 hours). Please upgrade to a paid plan if you need more requests.'}

### Modeling Data Preperation

In [ ]:
# Preparing Dataset X & y

target = 

X = final_df.copy()
X.drop(target, axis=1, inplace=True)
X.head()

y = all_df[target]
y.head()

In [ ]:
# Preparing Test & Train Data
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [ ]:
#Check if there is a class imbalance 
Counter(y_train)

In [ ]:
# Scale data 
scaler = StandardScaler()
X_scaler = scaler.fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

### Logistic Regression

In [ ]:
# Fit a logistic regression model
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_train, y_train)

In [ ]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix

y_pred_lr = model.predict(X_test)
confusion_matrix(y_test, y_pred)

In [ ]:
# Calculate the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score

balanced_accuracy_score(y_test, y_pred_lr)

In [ ]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced

print(classification_report_imbalanced(y_test, y_pred))

### Random Forest

In [ ]:
# Fit a Random Forest Classifier
from imblearn.ensemble import BalancedRandomForestClassifier
brf = BalancedRandomForestClassifier(n_estimators=1000, random_state=1)
brf.fit(X_train, y_train)

In [ ]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix

y_pred_brf = model.predict(X_test)
confusion_matrix(y_test, y_pred_brf)

In [ ]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced

print(classification_report_imbalanced(y_test, y_pred_brf))

In [ ]:
# List the features sorted in descending order by feature importance
importances_sorted_brf = sorted(zip(brf_model.feature_importances_, X.columns), reverse=True)
importances_sorted_brf

### Gradient Boost

In [ ]:
# Choose learning rate
learning_rates = [0.05, 0.1, 0.25, 0.5, 0.75, 1]
for learning_rate in learning_rates:
    model = GradientBoostingClassifier(
        n_estimators=100,
        learning_rate=learning_rate,
        max_features=2,
        max_depth=3,
        random_state=0)
    model.fit(X_train_scaled,y_train.ravel())
    print("Learning rate: ", learning_rate)

    # Score the model
    print("Accuracy score (training): {0:.3f}".format(
        model.score(
            X_train_scaled,
            y_train.ravel())))
    print("Accuracy score (validation): {0:.3f}".format(
        model.score(
            X_test_scaled,
            y_test.ravel())))
    print()

In [ ]:
# Create GradientBoostingClassifier model
model = GradientBoostingClassifier(
    n_estimators=500,
    learning_rate=1,
    max_features=5,
    max_depth=3,
    random_state=0)

# Fit the model
model.fit(X_train_scaled,y_train.ravel())

# Score the model
print("Accuracy score (training): {0:.3f}".format(
    model.score(
        X_train_scaled,
        y_train)))
print("Accuracy score (validation): {0:.3f}".format(
    model.score(
        X_test_scaled,
        y_test)))

In [ ]:
# Make predictions
predictions = model.predict(X_test_scaled)

# Generate accuracy score for predictions using y_test
accuracy_score(y_test, predictions)

In [ ]:
# Generate classification report
print(classification_report(y_test, predictions))