# Instructor Do: Intro to VADER Sentiment

In [3]:
# Initial imports
import os
from pathlib import Path
import pandas as pd
from newsapi import NewsApiClient
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from dotenv import load_dotenv
load_dotenv("newsapi.env")

True

In [4]:
# Download/Update the VADER Lexicon
nltk.download('vader_lexicon')

# Initialize the VADER sentiment analyzer
analyzer = SentimentIntensityAnalyzer()

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\josh\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [5]:
# Reading the News API key enviroment variable
api_key = os.getenv("news_api")

In [6]:
type(api_key)

str

In [7]:
# Create a newsapi client
newsapi = NewsApiClient(api_key=api_key)

In [27]:
news_df = pd.DataFrame(index = pd.RangeIndex(start = 0, stop = 100))
payload = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
first_table = payload[0]
second_table = payload[1]

sp500 = first_table
companies = sp500['Security'].tolist()

In [29]:
companies

['3M',
 'A. O. Smith',
 'Abbott',
 'AbbVie',
 'Abiomed',
 'Accenture',
 'Activision Blizzard',
 'ADM',
 'Adobe',
 'ADP',
 'Advance Auto Parts',
 'AES',
 'Aflac',
 'Agilent Technologies',
 'AIG',
 'Air Products',
 'Akamai',
 'Alaska Air Group',
 'Albemarle',
 'Alexandria',
 'Align',
 'Allegion',
 'Alliant Energy',
 'Allstate',
 'Alphabet (Class A)',
 'Alphabet (Class C)',
 'Altria',
 'Amazon',
 'Amcor',
 'AMD',
 'Ameren',
 'American Airlines Group',
 'American Electric Power',
 'American Express',
 'American Tower',
 'American Water',
 'Ameriprise Financial',
 'AmerisourceBergen',
 'Ametek',
 'Amgen',
 'Amphenol',
 'Analog Devices',
 'Ansys',
 'Anthem',
 'Aon',
 'APA Corporation',
 'Apple',
 'Applied Materials',
 'Aptiv',
 'Arista',
 'Assurant',
 'AT&T',
 'Atmos Energy',
 'Autodesk',
 'AutoZone',
 'AvalonBay Communities',
 'Avery Dennison',
 'Baker Hughes',
 'Ball',
 'Bank of America',
 'Bath & Body Works',
 'Baxter',
 'Becton Dickinson',
 'Berkley',
 'Berkshire Hathaway',
 'Best Buy',
 'Bio-Rad',
 'Bio-Techne',
 'Biogen',
 'BlackRock',
 'BNY Mellon',
 'Boeing',
 'Booking Holdings',
 'BorgWarner',
 'Boston Properties',
 'Boston Scientific',
 'Bristol Myers Squibb',
 'Broadcom',
 'Broadridge',
 'Brown & Brown',
 'Brown–Forman',
 'C.H. Robinson',
 'Cadence',
 'Caesars Entertainment',
 'Camden',
 "Campbell's",
 'Capital One',
 'Cardinal Health',
 'CarMax',
 'Carnival',
 'Carrier',
 'Catalent',
 'Caterpillar',
 'Cboe',
 'CBRE',
 'CDW',
 'Celanese',
 'Centene',
 'CenterPoint Energy',
 'Ceridian',
 'Cerner',
 'CF Industries',
 'Charles River',
 'Charles Schwab',
 'Charter Communications',
 'Chevron',
 'Chipotle Mexican Grill',
 'Chubb',
 'Church & Dwight',
 'Cigna',
 'Cincinnati Financial',
 'Cintas',
 'Cisco',
 'Citigroup',
 'Citizens',
 'Citrix',
 'Clorox',
 'CME Group',
 'CMS Energy',
 'Coca-Cola',
 'Cognizant',
 'Colgate-Palmolive',
 'Comcast',
 'Comerica',
 'Conagra Brands',
 'ConocoPhillips',
 'Con Edison',
 'Constellation Brands',
 'Constellation Energy',
 'CooperCompanies',
 'Copart',
 'Corning',
 'Corteva',
 'Costco',
 'Coterra',
 'Crown Castle',
 'CSX',
 'Cummins',
 'CVS Health',
 'D.R. Horton',
 'Danaher',
 'Darden',
 'DaVita',
 'Deere & Co.',
 'Delta Air Lines',
 'Dentsply Sirona',
 'Devon',
 'DexCom',
 'Diamondback',
 'Digital Realty',
 'Discover',
 'Discovery (Series A)',
 'Discovery (Series C)',
 'Dish',
 'Disney',
 'Dollar General',
 'Dollar Tree',
 'Dominion Energy',
 "Domino's",
 'Dover',
 'Dow',
 'DTE',
 'Duke Energy',
 'Duke Realty',
 'DuPont',
 'DXC Technology',
 'Eastman',
 'Eaton',
 'eBay',
 'Ecolab',
 'Edison International',
 'Edwards Lifesciences',
 'Electronic Arts',
 'Emerson',
 'Enphase',
 'Entergy',
 'EOG Resources',
 'EPAM',
 'Equifax',
 'Equinix',
 'Equity Residential',
 'Essex',
 'Estée Lauder Companies',
 'Etsy',
 'Everest',
 'Evergy',
 'Eversource',
 'Exelon',
 'Expedia Group',
 'Expeditors',
 'Extra Space Storage',
 'ExxonMobil',
 'F5',
 'FactSet',
 'Fastenal',
 'Federal Realty',
 'FedEx',
 'Fifth Third Bank',
 'First Republic',
 'FirstEnergy',
 'FIS',
 'Fiserv',
 'Fleetcor',
 'FMC',
 'Ford',
 'Fortinet',
 'Fortive',
 'Fortune Brands',
 'Fox Corporation (Class A)',
 'Fox Corporation (Class B)',
 'Franklin Templeton',
 'Freeport-McMoRan',
 'Gallagher',
 'Garmin',
 'Gartner',
 'GE',
 'Generac',
 'General Dynamics',
 'General Mills',
 'Genuine Parts',
 'Gilead',
 'Globe Life',
 'Global Payments',
 'GM',
 'Goldman Sachs',
 'Grainger',
 'Halliburton',
 'Hartford (The)',
 'Hasbro',
 'HCA Healthcare',
 'Healthpeak',
 'Henry Schein',
 "Hershey's",
 'Hess',
 'Hewlett Packard Enterprise',
 'Hilton',
 'Hologic',
 'Home Depot',
 'Honeywell',
 'Hormel',
 'Host Hotels & Resorts',
 'Howmet Aerospace',
 'HP',
 'Humana',
 'Huntington Ingalls Industries',
 'Huntington National Bank',
 'IDEX',
 'Idexx Laboratories',
 'Illinois Tool Works',
 'Illumina',
 'Incyte',
 'Ingersoll Rand',
 'Intel',
 'Intercontinental Exchange',
 'IBM',
 'International Paper',
 'Interpublic Group',
 'International Flavors & Fragrances',
 'Intuit',
 'Intuitive Surgical',
 'Invesco',
 'IPG Photonics',
 'IQVIA',
 'Iron Mountain',
 'J.B. Hunt',
 'Jack Henry & Associates',
 'Jacobs',
 'Johnson & Johnson',
 'Johnson Controls',
 'JPMorgan Chase',
 'Juniper Networks',
 "Kellogg's",
 'KeyCorp',
 'Keysight',
 'Kimberly-Clark',
 'Kimco Realty',
 'Kinder Morgan',
 'KLA',
 'Kraft Heinz',
 'Kroger',
 'L3Harris',
 'LabCorp',
 'Lam Research',
 'Lamb Weston',
 'Las Vegas Sands',
 'Leidos',
 'Lennar',
 'Lilly',
 'Lincoln Financial',
 'Linde',
 'Live Nation Entertainment',
 'LKQ Corporation',
 'Lockheed Martin',
 'Loews Corporation',
 "Lowe's",
 'Lumen',
 'LyondellBasell',
 'M&T Bank',
 'Marathon Oil',
 'Marathon Petroleum',
 'MarketAxess',
 'Marriott International',
 'Marsh & McLennan',
 'Martin Marietta',
 'Masco',
 'Mastercard',
 'Match Group',
 'McCormick',
 "McDonald's",
 'McKesson',
 'Medtronic',
 'Merck',
 'Meta',
 'MetLife',
 'Mettler Toledo',
 'MGM Resorts',
 'Microchip',
 'Micron',
 'Microsoft',
 'Mid-America Apartments',
 'Moderna',
 'Mohawk Industries',
 'Molina Healthcare',
 'Molson Coors',
 'Mondelez International',
 'Monolithic Power Systems',
 'Monster Beverage',
 "Moody's",
 'Morgan Stanley',
 'Mosaic',
 'Motorola Solutions',
 'MSCI',
 'Nasdaq',
 'NetApp',
 'Netflix',
 'Newell Brands',
 'Newmont',
 'News Corp (Class A)',
 'News Corp (Class B)',
 'NextEra Energy',
 'Nielsen',
 'Nike',
 'NiSource',
 'Nordson',
 'Norfolk Southern',
 'Northern Trust',
 'Northrop Grumman',
 'NortonLifeLock',
 'Norwegian Cruise Line Holdings',
 'NRG Energy',
 'Nucor',
 'Nvidia',
 'NVR',
 'NXP',
 "O'Reilly Automotive",
 'Occidental Petroleum',
 'Old Dominion',
 'Omnicom Group',
 'Oneok',
 'Oracle',
 'Organon',
 'Otis',
 'Paccar',
 'Packaging Corporation of America',
 'Paramount',
 'Parker',
 'Paychex',
 'Paycom',
 'PayPal',
 'Penn National Gaming',
 'Pentair',
 'PepsiCo',
 'PerkinElmer',
 'Pfizer',
 'Philip Morris International',
 'Phillips 66',
 'Pinnacle West',
 'Pioneer Natural Resources',
 'PNC Financial Services',
 'Pool Corporation',
 'PPG Industries',
 'PPL',
 'Principal',
 'Procter & Gamble',
 'Progressive',
 'Prologis',
 'Prudential',
 'PSEG',
 'PTC',
 'Public Storage',
 'PulteGroup',
 'PVH',
 'Qorvo',
 'Quanta',
 'Qualcomm',
 'Quest Diagnostics',
 'Ralph Lauren',
 'Raymond James',
 'Raytheon Technologies',
 'Realty Income',
 'Regency Centers',
 'Regeneron',
 'Regions',
 'Republic Services',
 'ResMed',
 'Robert Half',
 'Rockwell Automation',
 'Rollins',
 'Roper',
 'Ross',
 'Royal Caribbean Group',
 'S&P Global',
 'Salesforce',
 'SBA Communications',
 'Schlumberger',
 'Seagate',
 'Sealed Air',
 'Sempra Energy',
 'ServiceNow',
 'Sherwin-Williams',
 'Signature Bank',
 'Simon',
 'Skyworks',
 'Smucker',
 'Snap-on',
 'SolarEdge',
 'Southern Company',
 'Southwest Airlines',
 'Stanley Black & Decker',
 'Starbucks',
 'State Street',
 'Steris',
 'Stryker',
 'SVB Financial',
 'Synchrony',
 'Synopsys',
 'Sysco',
 'T-Mobile',
 'T. Rowe Price',
 'Take-Two Interactive',
 'Tapestry',
 'Target',
 'TE Connectivity',
 'Teledyne',
 'Teleflex',
 'Teradyne',
 'Tesla',
 'Texas Instruments',
 'Textron',
 'Thermo Fisher Scientific',
 'TJX Companies',
 'Tractor Supply',
 'Trane Technologies',
 'TransDigm',
 'Travelers',
 'Trimble',
 'Truist',
 'Twitter',
 'Tyler Technologies',
 'Tyson',
 'U.S. Bank',
 'UDR',
 'Ulta Beauty',
 'Under Armour (Class A)',
 'Under Armour (Class C)',
 'Union Pacific',
 'United Airlines',
 'UnitedHealth Group',
 'United Parcel Service',
 'United Rentals',
 'Universal Health Services',
 'Valero',
 'Ventas',
 'Verisign',
 'Verisk',
 'Verizon',
 'Vertex',
 'VF Corporation',
 'Viatris',
 'Visa',
 'Vornado Realty Trust',
 'Vulcan Materials',
 'Wabtec',
 'Walmart',
 'Walgreens Boots Alliance',
 'Waste Management',
 'Waters',
 'WEC Energy Group',
 'Wells Fargo',
 'Welltower',
 'West Pharmaceutical Services',
 'Western Digital',
 'WestRock',
 'Weyerhaeuser',
 'Whirlpool',
 'Williams',
 'Willis Towers Watson',
 'Wynn Resorts',
 'Xcel Energy',
 'Xylem',
 'Yum! Brands',
 'Zebra',
 'Zimmer Biomet',
 'Zions Bancorp',
 'Zoetis']

In [28]:
# Fetch all the news about Facebook Libra
    
for company in companies:
    news = newsapi.get_top_headlines(
        q=company,
        language="en",
        page_size=100,
    )
    contents = []
    print('done')
    for article in news['articles']:
        contents.append(article)
    
    news_df[company] = pd.Series(contents)
# Print total articles

news_df.head()

NewsAPIException: {'status': 'error', 'code': 'rateLimited', 'message': 'You have made too many requests recently. Developer accounts are limited to 100 requests over a 24 hour period (50 requests available every 12 hours). Please upgrade to a paid plan if you need more requests.'}

In [ ]:
aapl = newsapi.get_top_headlines(
        q="Apple",
        language="en",
        page_size=100,
    )

my_list = []

for article in aapl['articles']:
    my_list.append(article['content'])

In [39]:
aapl_df = pd.DataFrame()
aapl_df['Apple'] = my_list

In [40]:
aapl_df.head()

                                               Apple
0  A SpaceX rocket ship was due for liftoff on Fr...
1  Apple has allowed NFT app Sticky back onto its...
2  MANILA, Philippines  Any concerned citizen can...
3  MANILA, Philippines Jericho Rosales makes his ...
4  Aside from allowing users to utilise Face ID w...

In [6]:
# Create the Facebook Libra sentiment scores DataFrame
libra_sentiments = []

for article in news_df:
    try:
        text = article["content"]
        date = article["publishedAt"][:10]
        sentiment = analyzer.polarity_scores(text)
        compound = sentiment["compound"]
        pos = sentiment["pos"]
        neu = sentiment["neu"]
        neg = sentiment["neg"]
        
        libra_sentiments.append({
            "text": text,
            "date": date,
            "compound": compound,
            "positive": pos,
            "negative": neg,
            "neutral": neu
            
        })
        
    except AttributeError:
        pass
    
# Create DataFrame
libra_df = pd.DataFrame(libra_sentiments)

# Reorder DataFrame columns
cols = ["date", "text", "compound", "positive", "negative", "neutral"]
libra_df = libra_df[cols]

libra_df.head()

,date,text,compound,positive,negative,neutral
0,2019-06-26,"When Facebook unveiledLibra a few days ago, th...",0.2846,0.073,0.0,0.927
1,2019-06-19,"On Tuesday Facebook announced Libra, a cryptoc...",0.7196,0.152,0.0,0.848
2,2019-07-03,The $10 million entry fee to join the Facebook...,0.2960,0.052,0.0,0.948
3,2019-07-03,"""We write to request that Facebook and its par...",0.3612,0.056,0.0,0.944
4,2019-06-18,Illustration by Alex Castro / The Verge\r\nAs ...,0.0000,0.000,0.0,1.000

In [7]:
# Get descriptive stats from the DataFrame
libra_df.describe()

        compound   positive   negative    neutral
count  99.000000  99.000000  99.000000  99.000000
mean    0.260642   0.067091   0.017646   0.915273
std     0.352937   0.062159   0.034538   0.073980
min    -0.735100   0.000000   0.000000   0.710000
25%     0.000000   0.000000   0.000000   0.871500
50%     0.226300   0.057000   0.000000   0.926000
75%     0.548500   0.113000   0.014500   1.000000
max     0.897900   0.225000   0.153000   1.000000